@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
*{
    font-family: 'Orbitron', sans-serif;
}

:root {
  --mainbg: #F7E9D4;
  --headerbg:#FB9902; 
  --footerbg:#091534;
  --primaryc:#0247FE;
  --secondc:#1440B8;
}


main,header,footer,h1,h2,p{
  margin: 0;
  border: 0;
}

main,header,footer,h1,h2,p{
  padding: 1vh 1vw 1vh 1vw;
}

body{
   /* background: linear-gradient(90deg, rgba(163, 233, 172, 0.192),rgba(2, 172, 44, 0.233)); */
   /* color: darkred; */
}

.xnav{
    display:block;
    margin-top: 5vh;
    margin-right: 10vw;
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
    }
  footer{
    font-size: 4vw;
   }
}

body{
  margin: 0px;
}

header{
  background-color:var( --headerbg,#FB9902);
  color: var(--primaryc,#0247FE);
}


main{
  background-color: var(--mainbg,#F7E9D4);
}


footer{
  background-color: var(--footerbg,#091534);
  color:var( --headerbg,#FB9902);
  text-align: end;
}

.headerApp{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:1fr;
  column-gap: 5px;
}


.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background:var(--footerbg,#091534);;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background:var(--footerbg,#091534);;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  dialog{
    background-color: rgba(36, 41, 67, 0.9);
    color: var(--footerbg);
  }

  ul{
    list-style: none;
    width: inherit;
    margin: 0;
    padding: 0;
  }

  ul li{
    list-style-type: none;
    width: inherit;
    margin: 1vh 0 1vh 0;
    border-top: 2px solid red;
  }

  ul li:hover{
    background-color:#ffcc00;
  }

  ul li a{
    text-decoration: none;
    width: inherit;
    padding: 1vh 0 1vh 0;
    color:white;
  }


  .o-dialog__close-icon {
    display: block;
    height: 1rem;
    stroke: currentColor;
    stroke-width: 1.5;
    width: 1rem;
  }
  